name: Static_s3_deploy
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu_latest
    steps:
      - name: Checkout code from repo
        uses: actions/checkout@v4
      - name: Configure Aws credentioal
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.SECRET_KEY }}
          aws-region: us-east-1
      - name: Code Static code
        run: |
           aws s3 sync ./ s3://Github-Action-pipeline-project/ \
           --exclude "*" \
           --include "index.html"
        